<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MedBlue0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{74,198},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{64,35}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,35}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{5,90},{64,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{5,355},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{74,309},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{143,267},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{5,392},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{74,346},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{143,304},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,8},{64,33}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,33}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{74,86},{64,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,5},{64,36}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,36}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{74,5},{64,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,3},{64,38}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,38}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{5,5},{64,38}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,4},{64,37}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,37}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{5,48},{64,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,7},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{143,5},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{5,429},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{74,383},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{143,341},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{5,466},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,8},{64,33}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,33}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{143,44},{64,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,8},{64,33}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,33}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{5,169},{64,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,7},{64,34}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,34}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{5,130},{64,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedBomb0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{64,35}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,41}</string>
				<key>spriteSourceSize</key>
				<string>{64,35}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{74,46},{64,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedGreen0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{143,156},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedLimp0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{74,124},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedMagenta0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,281},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedMetal0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{74,235},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedOrange0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{143,193},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedRed0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,318},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedTeal0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{74,272},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedThreeHit0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{74,161},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedThreeHit0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{143,119},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedThreeHit0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,244},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedTwoHit0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{143,82},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedTwoHit0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,207},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MedYellow0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,32}</string>
				<key>spriteSourceSize</key>
				<string>{64,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{143,230},{64,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBlue0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{148,462},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,3},{32,23}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,23}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,5},{32,23}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{32,20}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,20}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,112},{32,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{32,17}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,17}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,283},{32,17}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{32,17}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,17}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,305},{32,17}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{32,17}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,17}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,327},{32,17}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,9},{32,17}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,17}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,349},{32,17}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,7},{32,19}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,19}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,187},{32,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,5},{32,21}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,21}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{74,448},{32,21}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,5},{32,21}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,21}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,60},{32,21}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,3},{32,23}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,23}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{74,420},{32,23}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,4},{32,22}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,22}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{143,378},{32,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,5},{32,21}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,21}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{74,474},{32,21}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,7},{32,19}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,19}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,211},{32,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,7},{32,19}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,19}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,235},{32,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,7},{32,19}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,19}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,259},{32,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{32,20}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,20}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,137},{32,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,6},{32,20}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,20}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,162},{32,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,5},{32,21}}</string>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,21}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,86},{32,21}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,4},{32,22}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,22}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,33},{32,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmBomb0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,3},{32,23}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,26}</string>
				<key>spriteSourceSize</key>
				<string>{32,23}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{212,5},{32,23}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmGreen0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{185,462},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmLimp0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{148,441},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmMagenta0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{185,483},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmMetal0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{111,483},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmOrange0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,378},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmRed0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{148,483},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmTeal0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{185,420},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmThreeHit0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{111,420},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmThreeHit0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{111,441},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmThreeHit0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{111,462},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmTwoHit0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,399},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmTwoHit0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{148,420},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SmYellow0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,16}</string>
				<key>spriteSourceSize</key>
				<string>{32,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{185,441},{32,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>brickassets_sheet.png</string>
				<key>textureFileName</key>
				<string>brickassets_sheet</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
