<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sounds</key>
	<dict>
		<key>sfxWallCollision</key>
		<array>
			<string>wallcollision1.wav</string>
			<string>wallcollision2.wav</string>
			<string>wallcollision3.wav</string>
		</array>
		<key>sfxPaddleCollision</key>
		<array>
			<string>paddlecollision1.wav</string>
			<string>paddlecollision2.wav</string>
			<string>paddlecollision3.wav</string>
		</array>
		<key>sfxBrickDisintegrate</key>
		<array>
			<string>brickbig1.wav</string>
			<string>brickbig2.wav</string>
			<string>brickbig3.wav</string>
			<string>brickbig4.wav</string>
		</array>
	</dict>
</dict>
</plist>
