<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>BALL_NORMAL</key>
		<dict>
			<key>delay</key>
			<real>0.3</real>
			<key>frames</key>
			<array>
				<string>BALL_NORMAL0000</string>
				<string>BALL_NORMAL0001</string>
				<string>BALL_NORMAL0002</string>
				<string>BALL_NORMAL0003</string>
				<string>BALL_NORMAL0004</string>
				<string>BALL_NORMAL0005</string>
				<string>BALL_NORMAL0006</string>
				<string>BALL_NORMAL0007</string>
				<string>BALL_NORMAL0008</string>
				<string>BALL_NORMAL0009</string>
				<string>BALL_NORMAL0010</string>
				<string>BALL_NORMAL0011</string>
				<string>BALL_NORMAL0012</string>
				<string>BALL_NORMAL0013</string>
				<string>BALL_NORMAL0014</string>
				<string>BALL_NORMAL0015</string>
				<string>BALL_NORMAL0016</string>
				<string>BALL_NORMAL0017</string>
				<string>BALL_NORMAL0018</string>
				<string>BALL_NORMAL0019</string>
				<string>BALL_NORMAL0020</string>
				<string>BALL_NORMAL0021</string>
				<string>BALL_NORMAL0022</string>
				<string>BALL_NORMAL0023</string>
				<string>BALL_NORMAL0024</string>
				<string>BALL_NORMAL0025</string>
				<string>BALL_NORMAL0026</string>
				<string>BALL_NORMAL0027</string>
				<string>BALL_NORMAL0028</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
