<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug</key>
	<dict>
		<key>popupTextLifetime</key>
		<integer>750</integer>
		<key>defaultBallMaxSpeed</key>
		<integer>15</integer>
		<key>defaultBallMinSpeed</key>
		<integer>8</integer>
		<key>defaultBallInitialSpeed</key>
		<integer>11</integer>
		<key>ballTrajectoryAdjustFactor</key>
		<integer>50</integer>
		<key>ballTrajectoryThreshold</key>
		<integer>2</integer>
		<key>paddleReflectionMultiplier</key>
		<integer>15</integer>
		<key>defaultSpriteFrameRate</key>
		<integer>30</integer>
		<key>maxGridObjects</key>
		<integer>500</integer>
		<key>defaultTileWidth</key>
		<integer>8</integer>
		<key>defaultTileHeight</key>
		<integer>8</integer>
		<key>defaultGridWidth</key>
		<integer>40</integer>
		<key>defaultGridHeight</key>
		<integer>40</integer>
		<key>ballAnimationSet</key>
		<string>ball_anim.plist</string>
	</dict>
</dict>
</plist>
